.env
CompletedPunishment.txt
Tyler_Brittain_Lab_1
Tyler_Brittain_Lab_1.zip
Lab_1/grades.txt
Lab_1/schedule_output.txt
Lab_1/grades.txt
Lab_1/Lab_1_submission.zip
Lab_1/Lab_1_submission
Lab_1/class_schedule_output.txt
Lab_1/grades.txt
Lab_4/submission
lab_6/server/env
lab_6/server/__pycache__