
body{
    background-color: #e4efe7;

}
/* Using https://www.w3schools.com/css/css_navbar.asp
to reference navbar */
.navbar{
    margin-bottom: 200px;
    background-color:bisque;
    position: fixed;
    display: block;
    width: 100%;
    top: 0
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float:left
}

.navbar li a{
    display: inline;
    padding: 8px;
}

.centerImage{
    margin: 100px auto 0 auto;
    display: block;
}

.half{
    width: 75%;
}

.center{
    text-align: center;
}

.article{
    width: 50%;
    margin: 0 auto 0 auto;
}